Checks: |
  -*,
  modernize-use-override,
  modernize-use-nullptr,
  modernize-redundant-void-arg,
  performance-for-range-copy,

HeaderFilterRegex: '.*'

CheckOptions:
  modernize-use-override.IgnoreDestructors: true
